@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

body{
    font-family:'Public Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(233, 8%, 62%);

    padding : 0;
    margin:0;
}

/* Global */

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.highlight{
    color:hsl(233, 26%, 24%);
    font-weight: bold;
}

ul{
    margin:0;
    padding:0;
}

.color {
a:hsl(233, 26%, 24%)
hsl(136, 65%, 51%)
hsl(192, 70%, 51%)

hsl(233, 8%, 62%)
hsl(240, 1%, 29%)
hsl(0, 0%, 98%)
hsl(0, 0%, 100%)
}

/* request button */

.request{
    background-image:linear-gradient(to right,hsl(136, 65%, 51%) ,hsl(192, 70%, 51%));
    border-radius: 30px;
    border:none;
    padding:12px 30px;
    color:hsl(0, 0%, 100%);
    font-size:15px;
}


/* header */

header{
    background: white;
    padding-top: 20px;
    min-height: 70px;
}

.topnav{
    display: none;
}

header a {
    text-decoration: none;
    color:hsl(233, 8%, 62%)
}


header li{
    list-style-type: none;
    float:left;
    display: inline;
    padding:0px 20px;
}


header .logo{
    float:left;
}

header nav{
    padding-left:33.3%;
}

header .request{
    float:right;
}

/* show case images alignment  */
.showcase{
    background:hsl(0, 0%, 98%);
    background-image: url(images/image-mockups.png),url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat ,no-repeat;
    background-position: 800px -140px,700px -260px;
    overflow:hidden;
}


.showcase .one{
    font-size: 65px;
    font-weight: 300;
}

.showcase .container{
    width : 80%;
    height:600px;
} 

.Features{
    background:rgb(235, 252, 252);
}

.two{
    font-size: 35px;
}

.Features .container .boxes {
    width:95%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;

}

.articles .container .boxes{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width: 95%;
}

.articles .container .boxes img{
    width:200px;
    height:180px
}

footer{
    padding:25px;
    display: flex;
    background:hsl(233, 26%, 24%);
    justify-content: space-around;
}


footer a{
    text-decoration: none;
    color:white;
}

footer li{
    list-style-type: none;
}

footer .symbols li{
    display: inline;
    padding-left:15px;
}

footer .symbols{
    padding-top:20px;
}


@media (max-width : 768px){
    body{
        padding:0;
        margin:0;
    }

    .mobile{
        display:block;
    }
    header {
        padding:0px;
    }

    header .container{
        background:hsl(0, 0%, 100%);
        background-image: url(images/logo.svg) no-repeat;
        float:left;
        padding:20px;
    }

    header nav{
        display: none;
    }

    header .mobile{
        display:none;
    }
    header .button{
        display: none;
    }








    .topnav {
        display: inline;
        float:right;
        background-color:white;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        text-decoration: none;
        padding: 6px 16px;
        font-size: 35px;
        display: block;
        text-align: left;
        overflow: auto;
        
      }
      
      .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      
      .active {
        background-color: white;
        color: white;
      }

    





    .showcase{
        margin-top:15px;
        background:hsl(0, 0%, 98%);
        background-image: url(images/image-mockups.png),url(images/bg-intro-mobile.svg);
        background-repeat: no-repeat ,no-repeat;
        background-size: 100%;
    }
    .showcase .container{
        padding-top:120%;
        text-align: center;
    }
    .showcase .one{
        font-size: 45px;
        font-weight: 300;
    }

    .Features{
        text-align: center;;
    }
    .Features .container .boxes{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .articles{
        text-align: center;
    }
    .articles .container .boxes{
        display: flex;
        flex-direction: column;

    }

    .footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer .button{
        padding:10px;
    }

    .footer .symbols{
        padding-bottom: 15px;
    }

    .footer .symbols li{
        padding-left:15px;
    }

    .footer .l1 li,.footer .l2 li{
        padding-bottom: 15px;
    }



}